body{
  margin:0;
  background:#1f2233;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:Arial;
}
input{display:none;}

.slider{
  width:720px;
  overflow:hidden;
}
.slides{
  display:flex;
  width:900%;
  transition:0.6s;
}

#s1:checked~.slider .slides{transform:translateX(0);}
#s2:checked~.slider .slides{transform:translateX(-11.11%);}
#s3:checked~.slider .slides{transform:translateX(-22.22%);}
#s4:checked~.slider .slides{transform:translateX(-33.33%);}
#s5:checked~.slider .slides{transform:translateX(-44.44%);}
#s6:checked~.slider .slides{transform:translateX(-55.55%);}
#s7:checked~.slider .slides{transform:translateX(-66.66%);}
#s8:checked~.slider .slides{transform:translateX(-77.77%);}
#s9:checked~.slider .slides{transform:translateX(-88.88%);}

.slide{
  width:100%;
  display:flex;
  justify-content:center;
}

.grid{
  width:620px;
  height:260px;
  background:#2b2f45;
  padding:15px;
  display:grid;
  gap:10px;
  border-radius:12px;
}

/* GRID LAYOUTS */
.g1{grid-template-columns:repeat(3,1fr);grid-template-rows:repeat(2,1fr);}
.g2{grid-template-columns:2fr 1fr;grid-template-rows:1fr 1fr;}
.g2 .r{grid-column:1/3;}
.g3{grid-template-columns:1fr 2fr;grid-template-rows:repeat(3,1fr);}
.g3 .o{grid-column:1/3;}
.g4{grid-template-columns:1fr 1fr;grid-template-rows:2fr 1fr;}
.g4 .r{grid-row:1/3;}
.g5{grid-template-columns:repeat(3,1fr);grid-template-rows:repeat(3,1fr);}
.g6{grid-template-columns:3fr 1fr;grid-template-rows:repeat(3,1fr);}
.g6 .o{grid-row:1/4;}
.g7{grid-template-columns:1fr 2fr;grid-template-rows:2fr 1fr;}
.g7 .r{grid-column:1/3;}
.g8{grid-template-columns:repeat(4,1fr);grid-template-rows:repeat(2,1fr);}
.g9{grid-template-columns:2fr 1fr;grid-template-rows:2fr 1fr;}
.g9 .o{grid-column:1/3;}

/* COLORS */
.box{border-radius:8px;}
.r{background:#ff6b6b;}
.o{background:#ffa94d;}
.y{background:#ffd43b;}
.g{background:#29e2ab;}
.t{background:#20c997;}
.c{background:#77ee9c;}

/* nav dots */
.nav{margin-top:15px;}
.nav label{
  width:10px;height:10px;
  background:#aaa;
  border-radius:50%;
  display:inline-block;
  margin:4px;
  cursor:pointer;
}
