body{
    background-color: antiquewhite;
}
.box{
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 50%;

    transition: 
           background-color:pink;
           transition:transform 2s ease;
}

.box:hover{
    background-color:red;
    transform:translateX(300px);
}