* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background:linear-gradient(to right,
        #6a11cb,
        #2575fc,
        #43cea2);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */
.card {
    width: 340px;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    position: relative;
}

/* TOP SECTION */
.card-top {
    height: 130px;
    background: url("https://tse3.mm.bing.net/th/id/OIP.w6hqwIUr_AuF8V4B_Z9vPwHaEK?pid=Api&P=0&h=180")
                center/cover no-repeat;
}


/* PROFILE IMAGE */
.profile-img {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

/* BOTTOM SECTION */
.card-bottom {
    padding: 80px 20px 25px;
    text-align: center;
}

.card-bottom h2 {
    font-size: 22px;
}

.card-bottom span {
    font-size: 14px;
    color: #666;
}

.card-bottom p {
    font-size: 14px;
    color: #555;
    margin: 15px 0 20px;
    line-height: 1.5;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 15px;
}

.follow-btn {
    background: #2f6b4f;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}

.audio-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* SOCIAL ICONS */
.logo-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.logo-row img {
    width: 32px;
    height: 32px;
}
.logo-row img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}


